*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: #ededed;
}

.container .neu-effect-1 {
    margin: 50px auto;
    height: 200px;
    width: 200px;
    background: #ededed;
    border-radius: 20px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 12px #ccc;
}

.neu-effect-2 {
    margin: 50px auto;
    height: 200px;
    width: 200px;
    background: #ededed;
    border-radius: 20px;
    box-shadow: inset -5px -5px 10px #fff, inset 5px 5px 12px #ccc;
}

.neu-effect-3 {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background: #ededed;
    border-radius: 50%;
    box-shadow: -5px -5px 10px #fff, 5px 5px 12px #ccc;
    position: relative;
}

.neu-effect-3:after {
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset -5px -5px 10px #fff, inset 5px 5px 12px #ccc;
}

